* {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}
  
.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

.no-click {
    pointer-events: none;
    cursor: default;
}

#resetBtn {
    width: 250px;
    height: 250px;
    border: 0;
    background-color: white;
}

#resetBtn svg {
    width: 250px;
    height: 250px;
    fill: black;
  }

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.board {
    animation: popIn 0.6s ease-out forwards;
    transform: scale(0.2);
    opacity: 0;
}

@keyframes popIn {
    to {
      transform: scale(1);
      opacity: 1;
    }
}

.fade-board {
    opacity: 0.3;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  
  #resetBtn {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  
  #resetBtn.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .profile-img {
    width: 50px;          
    height: 50px;
    object-fit: cover;      
  }
  
#status {
    padding: 8px;
}

#title {
    cursor: pointer;

}